body{
    background-color:white;
}

#tit {
color: black;
position: relative;top: 100px;
font-size: 45px;
text-align: center;
left: 40%;
}

#menu-principal{
background-color: black;
position: relative;top: -100px;
color: black;
padding: 20px;
width: 100%;
}
#fondo{
    object-fit: cover;
    transform: rotate(0deg);
   position: relative:top 70px;
}
#foto1{
    height: 300px;
    width: 400px;
    object-fit: cover;
}
#foto2{
    height: 300px;
    width: 400px;
    object-fit: cover;
}
#foto3{
    height: 300px;
    width: 400px;
    object-fit: cover;
}